@import "../../scss/variables.scss";
.player {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  width: calc($boardSize + 16px);
  min-height: 50px;
  box-shadow: $box-shadow;

  p {
    font-weight: 300;
    font-size: 22px;
    margin: 3px 0;
  }

  img {
    width: 31px;
    height: 31px;
  }
}

.lost {
  display: flex;
  width: 65vw;
  overflow-y: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .player {
    padding-bottom: 3px;

    p {
      font-size: 18px;
    }

    img {
      width: 23px;
      height: 23px;
    }
  }

  .lost {
    overflow-y: scroll;
    overflow-y: hidden;
    width: 62vw;
  }

  .lost::-webkit-scrollbar {
    display: none;
  }
}
