@import "../../scss/variables.scss";

%timer {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  top: 50%;
  right: 1.2%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: #b7c0d8;
  height: 80%;
  padding: 0 14px;
}

.timer {
  @extend %timer;
}

.timerActive {
  @extend %timer;
  background-color: $primary;
}
