* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f7fa;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(72px * 8);
  height: calc(72px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 9px solid #fff;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgba(200, 206, 223, 0.5);
}

.cell {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #b7c0d8;
}

.white {
  background-color: #e8edf9;
}
.selected {
  background: #8e77ff9a;
}

.available {
  width: 24px;
  height: 24px;
  background: #7b61ff;
  opacity: 0.5;
  border-radius: 12px;
}

.available:hover {
  opacity: 0.9;
}

.available:active {
  opacity: 1;
  scale: 1.15;
}

.target {
  background-color: #ff61d273;
}

.player {
  position: relative;
  width: calc(72px * 8);
  height: 70px;
  background-color: white;
  border-radius: 4px;
  border: 9px solid #fff;
  box-shadow: 0px 2px 16px rgba(200, 206, 223, 0.5);
}

.player .lost {
  display: flex;
}

.player p {
  font-weight: 300;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin: 7px 7px 7px;
}

.player img {
  width: 31px;
  height: 31px;
}

.player .timer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  right: 0;
  color: white;
  background-color: #b7c0d8;
  padding: 18px 10px;
  border-radius: 4px;
}

.player .active {
  background-color: #7b61ff88;
}
