* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f4f7fa;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(72px * 8);
  height: calc(72px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 9px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgba(200, 206, 223, 0.5);
}

.cell {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #b7c0d8;
}

.white {
  background-color: #e8edf9;
}
.selected {
  background: #8a73fcc4;
  background: #8e77ff9a;
}

.available {
  width: 24px;
  height: 24px;
  background: #7b61ff;
  opacity: 0.5;
  border-radius: 12px;
}

.available:hover {
  opacity: 0.9;
}

.available:active {
  opacity: 1;
  scale: 1.15;
}

.target {
  background-color: #ff61d273;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
